@using BestPracticeApp.Helpers
@{
    Model.PageTitle = "Learning MVC";
    Model.PageDescription = "This app aims to teach and serve as an example of some of the best practices for coding in ASP.Net MVC.";
}

<div class="row">
    <div class="col-md-4">
        <h2>Where to Start</h2>
        <p>
            <ul>
                <li>New to .Net web development? Begin with @Html.IconActionLink(HtmlHelperExtensions.Glyphicon.Cog, "Tools Setup", "Index", "Setup", null, new { @class = "btn btn-info"})</li>
            </ul>

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dive right in</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>